# Analysis report 4
## Treating and analyzing data:
### Select:
    - only the properties classified as 'Apartamento'
    - the properties classified as 'Casa', 'Casa de condominio' and 'Casa de Vila'
    - the properties with the area between 60 and 100 square metters, including limits
    - the properties that have at least 4 rooms and a rent smaller than R$ 2.000

In [4]:
import pandas as pd

data = pd.read_csv('data/residential_rent.csv', sep = ';')
data.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [7]:
# Properties classified as 'Apartamento'

selection = data['Tipo'] == 'Apartamento'
selection

n1 = data[selection]
len(n1)

19532

In [16]:
 # Properties classified as 'Casa', 'Casa de condominio' and 'Casa de Vila'

selection = (data['Tipo'] == 'Casa') | (data['Tipo'] == 'Casa de Condomínio') | (data['Tipo'] == 'Casa de Vila')


n2 = data[selection]
len(n2)

2212

In [17]:
# Properties with the area between 60 and 100 square metters, including limits

selection = (data['Area'] >= 60) & (data['Area'] <= 100)
n3 = data[selection]
len(n3)

8719

In [20]:
# Properties that have at least 4 rooms and a rent smaller than R$ 2.000

selection = (data['Quartos'] >= 4) & (data['Valor'] < 2000)
n4 = data[selection]
len(n4)

41