In [1]:
import pandas as pd

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
list('321')

['3', '2', '1']

In [3]:
df = pd.DataFrame(data, list('321'), list('ZYX'))
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [5]:
df.sort_index(inplace = True)
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [6]:
df.sort_index(inplace= True, axis = 1)
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [13]:
df.sort_values(by = ['X', 'Y'], inplace = True)
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [12]:
df.sort_values(by='3', axis = 1, inplace=True)
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9