<h1 style='color: green; font-size: 36px; font-weight: bold;'>Data Science - Linear regression</h1>


### Study of the dependence of a variable in relation to one or more variables

# <font color='red' style='font-size: 30px;'>Knowing the dataset</font>
<hr style='border: 2px solid;'>

## Importing libraries

https://matplotlib.org/

https://pandas.pydata.org/

http://www.numpy.org/

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd
import numpy as np

## The Dataset and the Project
<hr>

### Source: https://www.kaggle.com/dongeorge/beer-consumption-sao-paulo

### Description:
<p style = 'font-size: 18px; line-height: 2; margin: 10px 50px; text-align: justify; '> Beer is one of the most democratic and consumed drinks in the world. Not without reason, it is perfect for almost every situation, from happy hour to large wedding parties. </p>

<p style = 'font-size: 18px; line-height: 2; margin: 10px 50px; text-align: justify; '> The objective of this training will be to estimate a <b> Machine Learning </b> model using the <b> Linear Regression </b> technique to demonstrate the impacts of the variables provided in this dataset on the beer consumption (Y). At the end of the project, we will have a forecast model for the average beer consumption according to the inputs of a set of variables (X's). </p>

<p style = 'font-size: 18px; line-height: 2; margin: 10px 50px; text-align: justify; '> The data (sample) was collected in São Paulo - Brazil, in a university area, where there are some parties with groups of students from 18 to 28 years old (average). </p>

### Data:
<ul style = 'font-size: 18px; line-height: 2; text-align: justify; '>
    <li> <b> date </b> - Date</li>
    <li> <b> mean_temp </b> - Average Temperature (° C) </li>
    <li> <b> min_temp </b> - Minimum Temperature (° C) </li>
    <li> <b> max_temp </b> - Maximum Temperature (° C) </li>
    <li> <b> rain </b> - Precipitation (mm) </li>
    <li> <b> weekend </b> - Weekend (1 = Yes; 0 = No) </li>
    <li> <b> consumption </b> - Beer consumption (liters) </li>
</ul>

## Reading the data

In [7]:
data = pd.read_csv('data/beer_consumption.csv', sep = ';')

## Visualizing the data

In [13]:
data

           date  mean_temp  min_temp  max_temp  rain  weekend  consumption
0    01/01/2015      27.30      23.9      32.5   0.0        0        25461
1    02/01/2015      27.02      24.5      33.5   0.0        0        28972
2    03/01/2015      24.82      22.4      29.9   0.0        1        30814
3    04/01/2015      23.98      21.5      28.6   1.2        1        29799
4    05/01/2015      23.82      21.0      28.3   0.0        0        28900
..          ...        ...       ...       ...   ...      ...          ...
360  27/12/2015      24.00      21.1      28.2  13.6        1        32307
361  28/12/2015      22.64      21.1      26.7   0.0        0        26095
362  29/12/2015      21.68      20.3      24.1  10.3        0        22309
363  30/12/2015      21.38      19.3      22.4   6.3        0        20467
364  31/12/2015      24.76      20.2      29.0   0.0        0        22446

[365 rows x 7 columns]

## Verifying the dataset size

In [9]:
len(data)

365

# <font color = 'red' style = 'font-size: 30px;'> Preliminary Analysis </font>
<hr style = 'border: 2px solid red;'>

## Descriptive statistics

In [14]:
data.describe().round(2)

       mean_temp  min_temp  max_temp    rain  weekend  consumption
count     365.00    365.00    365.00  365.00   365.00       365.00
mean       21.23     17.46     26.61    5.20     0.28     25401.37
std         3.18      2.83      4.32   12.42     0.45      4399.14
min        12.90     10.60     14.50    0.00     0.00     14343.00
25%        19.02     15.30     23.80    0.00     0.00     22008.00
50%        21.38     17.90     26.90    0.00     0.00     24867.00
75%        23.28     19.60     29.40    3.20     1.00     28631.00
max        28.86     24.50     36.50   94.80     1.00     37937.00

## Correlation matrix

<p style = 'font-size: 18px; line-height: 2; margin: 10px 50px; text-align: justify; '> The <b> correlation coefficient </b> is a measure of linear association between two variables and lies between <b> -1 </b> and <b> +1 </ b> where <b> -1 </b> indicates perfect negative association and <b> +1 </b> indicates perfect positive association. </p>

In [15]:
data.corr().round(2)

             mean_temp  min_temp  max_temp  rain  weekend  consumption
mean_temp         1.00      0.86      0.92  0.02    -0.05         0.57
min_temp          0.86      1.00      0.67  0.10    -0.06         0.39
max_temp          0.92      0.67      1.00 -0.05    -0.04         0.64
rain              0.02      0.10     -0.05  1.00     0.00        -0.19
weekend          -0.05     -0.06     -0.04  0.00     1.00         0.51
consumption       0.57      0.39      0.64 -0.19     0.51         1.00